---
import type { APIRoute } from "astro";
import { supabase } from "../lib/supabase";
import isDev from "../lib/isDev";
const { request, cookies } = Astro;
const referer = request.headers.get("referer");
if (referer) {
	cookies.set("last-referer", referer, { path: "/" });
}
const { data, error } = await supabase.auth.signInWithOAuth({
	provider: "google",
	options: {
		redirectTo: `${isDev ? "http://localhost:4322" : "https://manuth4322.foodjs.com"}/api/auth/callback`,
	},
});

if (error) {
	return new Response(error.message, { status: 500 });
}
---

<br />
<a id="redirector" href={data.url}>Click here to login</a>
<br />
<div data-url={data.url}></div>

<script type="module">
	// window.location.href = document
	// 	.querySelector("div[data-url]")
	// 	.getAttribute("data-url");
	document.getElementById("redirector").click();
</script>
